@page
@model OdeToFood.Pages.ListModel
@{
}

<h1>Restaurants</h1>

<form method="get">
    <div class="input-group mb-3">
        <input type="search" name="SearchTerm" class="form-control" placeholder="Search restaurants..."
            asp-for="SearchTerm" />
        <button type="submit" class="btn btn-outline-secondary">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>

@foreach (var restaurant in Model.Restaurants ?? Array.Empty<OdeToFood.Core.Restaurant>())
{
    <partial name="_Summary" model="restaurant" />
}

<a asp-page="./Edit" class="btn btn-primary">Add New Restaurant</a>
@* <div>@Model.Message</div> *@
