<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black">
  <div class="flex align-middle items-center px-10 mx-auto gap-6">
    <a
      routerLink="/"
      routerLinkActive="text-accent"
      [routerLinkActiveOptions]="{ exact: true }"
      class="max-h-16 text-white border-r-white border-r-2 pr-6"
    >
      <div class="flex flex-row align-middle items-center gap-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
          />
        </svg>
        <h3 class="text-xl font-semibold text-white uppercase">Dating App</h3>
      </div>
    </a>
    <nav class="flex gap-3 my-2 uppercase text-lg text-white">
      @if(accountService.currentUser()){
      <a
        routerLink="/members"
        routerLinkActive="text-accent"
        [routerLinkActiveOptions]="{ exact: true }"
        >Matches</a
      >
      <a routerLink="/lists" routerLinkActive="text-accent">Lists</a>
      <a routerLink="/messages" routerLinkActive="text-accent">Chat</a>
      }
    </nav>
    <div class="flex align-middle ml-auto gap-3">
      <div class="dropdown mr-5 dropdown-end">
        <div
          tabindex="1"
          class="btn flex flex-col justify-center align-middle cursor-pointer uppercase text-xs"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 flex self-center"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42"
            />
          </svg>

          <span>{{ selectedTheme() }}</span>
        </div>
        <ul
          tabindex="1"
          class="dropdown-content menu bg-base-100 rounded-box z-50 w-52 p-2 shadow-sm"
        >
          @for (theme of themes; track $index) {
          <li>
            <a class="flex items-center gap-2" (click)="handleSelectTheme(theme)"> {{ theme }}</a>
          </li>
          }
        </ul>
      </div>
      @if(!accountService.currentUser(); as user) {
      <form #loginForm="ngForm" class="flex items-center gap-3" (ngSubmit)="login()">
        <input
          type="text"
          class="input"
          placeholder="Email"
          [(ngModel)]="creds.email"
          name="email"
          required
        />
        <input
          type="password"
          class="input"
          placeholder="Password"
          [(ngModel)]="creds.password"
          name="password"
          required
        />
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
      }@else {
      <button class="btn" popovertarget="popover-1" style="anchor-name: --anchor-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
          />
        </svg>
      </button>
      <ul
        class="dropdown dropdown-end menu w-52 rounded-box bg-base-100 shadow-sm"
        popover
        id="popover-1"
        style="position-anchor: --anchor-1"
      >
        <li><a>Home</a></li>
        <li>
          <a routerLink="/members/{{ accountService.currentUser()?.id }}">
            <div class="flex items-center gap-1">
              <img
                [src]="accountService.currentUser()?.imageUrl || '/user.png'"
                class="w-4 h-4 rounded-full"
              />
              {{ accountService.currentUser()?.displayName }}'s Profile
            </div>
          </a>
        </li>
        <li>
          <button class="btn" (click)="logout()">
            <div class="flex flex-row items-center gap-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="currentColor"
                class="size-4 mt-0.75"
              >
                <path
                  fill-rule="evenodd"
                  d="M14 4.75A2.75 2.75 0 0 0 11.25 2h-3A2.75 2.75 0 0 0 5.5 4.75v.5a.75.75 0 0 0 1.5 0v-.5c0-.69.56-1.25 1.25-1.25h3c.69 0 1.25.56 1.25 1.25v6.5c0 .69-.56 1.25-1.25 1.25h-3c-.69 0-1.25-.56-1.25-1.25v-.5a.75.75 0 0 0-1.5 0v.5A2.75 2.75 0 0 0 8.25 14h3A2.75 2.75 0 0 0 14 11.25v-6.5Zm-9.47.47a.75.75 0 0 0-1.06 0L1.22 7.47a.75.75 0 0 0 0 1.06l2.25 2.25a.75.75 0 1 0 1.06-1.06l-.97-.97h7.19a.75.75 0 0 0 0-1.5H3.56l.97-.97a.75.75 0 0 0 0-1.06Z"
                  clip-rule="evenodd"
                />
              </svg>
              Logout
            </div>
          </button>
        </li>
      </ul>
      }
    </div>
  </div>
</header>
