<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black">
  <div class="flex align-middle items-center px-10 mx-auto gap-6">
    <a class="max-h-16 text-white border-r-white border-r-2 pr-6">
      <div class="flex flex-row align-middle items-center gap-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
          />
        </svg>
        <h3 class="text-xl font-semibold text-white uppercase">Dating App</h3>
      </div>
    </a>
    <nav class="flex gap-3 my-2 uppercase text-lg text-white">
      <a>Matches</a>
      <a>Lists</a>
      <a>Chat</a>
    </nav>
    <div class="flex align-middle ml-auto gap-3">
      <form #loginForm="ngForm" class="flex items-center gap-3" (ngSubmit)="login()">
        <input
          type="text"
          class="input"
          placeholder="Email"
          [(ngModel)]="creds.email"
          name="email"
          required
        />
        <input
          type="password"
          class="input"
          placeholder="Password"
          [(ngModel)]="creds.password"
          name="password"
          required
        />
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
    </div>
  </div>
</header>
