<!-- we can use this to conditionally apply multiple classes 
 there is also style binding, which can be used to conditionally apply styles
 syntax: [style.propertyName]="{value: condition}" or [style] = "{key: value}" CHECK OUT TRAFFIC COMPONENT FOR EXAMPLE -->
<div
  [class]="{
    status: true,
    'status-online': currentStatus() === 'online',
    'status-offline': currentStatus() === 'offline',
    'status-unknown': currentStatus() === 'unknown'
  }">
  @if (currentStatus() === 'online') {
  <p>Servers are online</p>
  <p>All systems are operational.</p>
  } @else if (currentStatus() === 'offline') {
  <p>Servers are offline</p>
  <p>Functionality should be restored soon.</p>
  } @else {
  <p>Server status is unknown</p>
  <p>Fetching server status failed.</p>
  }
</div>
