<div class="flex flex-col w-full">
  <div class="flex justify-between items-center">
    <div class="tabs tabs-box tabs-lg text-primary w-fit">
      @for (tab of tabs; track $index) {
      <button
        role="tab"
        class="tab"
        [class.tab-active]="container() === tab.value"
        (click)="setContainer(tab.value)"
      >
        {{ tab.label }}
      </button>
      }
    </div>
    @if(messages()?.metadata; as metadata) {
    <app-paginator
      [hidden]="metadata.totalCount === 0"
      [pageNumber]="metadata.currentPage"
      [pageSize]="metadata.pageSize"
      [totalCount]="metadata.totalCount"
      [totalPages]="metadata.totalPages"
      (pageChange)="pageChanged({ pageNumber: $event.pageNumber, pageSize: $event.pageSize })"
    ></app-paginator>
    }
  </div>
</div>

<div class="overflow-x-auto mt-3">
  <table class="table bg-base-100">
    <thead>
      <tr>
        <th>Sender / Recipients</th>
        <th>Message</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      @for (message of messages()?.items; track message.id) {
      <tr>
        <td>{{ isInbox ? message.senderDisplayName : message.recipientDisplayName }}</td>
        <td>{{ message.content }}</td>
        <td>{{ message.messageSent | date }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
